body.view-in-course .nav-holder .header-global,
body.view-in-course .nav-holder .header-global.slim {
    width: 100%;
    background: #D2E1F5;
    border: none;
}

.window-wrap .wrapper-msg.urgency-high {
    
}
