.empty-dashboard-message a,
.theme-btn {
    @include inline-block;
    font: 14px/1.3 'Raleway';
    color: #5a666e !important;
    border: 2px solid #5a666e;
    padding: 7px 24px 6px;
    box-shadow: none;
    border-radius: 0;
    background: none;
    text-transform: uppercase;
    transition: all .1s;

    &:hover {
        color: #fff !important;
        background: #720E12;
        border-color: #720E12;
        text-decoration: none;
    }

    &__invert {
        color: #fff !important;
        background: none;
        border: 2px solid #fff;
        
        &:hover {
            color: #720E12 !important;
            background: #fff;
            border: 2px solid #720E12;
        }
    }
    &__right {
        float: right;
    }
    &__disable {
        color: $disable-text-color !important;
        background: $disable-text-bg;
        border-color: $disable-text-bg;
        
        &:hover {
            color: $disable-text-color !important;
            background: $disable-text-bg;
            border-color: $disable-text-bg;
        }
    }
}
