<%page expression_filter="h"/>
<%! from django.utils.translation import ugettext as _ %>
<%inherit file="../main.html" />

<%block name="pagetitle">${_("About")}</%block>

<main id="main" aria-label="Content" tabindex="-1">
    <section class="container about">
    <h1 class="title" id="page-title">TechCivica Network</h1>                             

    
  <div class="content">
<h2>The Power of Civic Technology</h2>
<p>Citizens around the world expect and need their governments and community leaders to meet them where they are. In the digital era, that’s through their phones, email, texts, social media platforms, and voice assistants. Unfortunately, legislatures, political parties, mayors, civil society, and other core democratic institutions rarely have the tech know-how to engage with their people at internet speed. At the same time, civic technologist groups are an emerging force around the world, comprised of public-spirited geeks who want to use their talents to build more just and interconnected societies,  but who rarely have the resources to achieve significant impact. Civic techies are often unconnected to government or political institutions; inexperienced in working with marginalized communities; unaware of peer groups with similar problems; and invisible to potential corporate or funding  sponsors.</p>

<h2>The TechCivica Network</h2>
<p>NDI is working to bridge these gaps by building a network of social-good focused technology enthusiasts named TechCivica. The network has its roots in Latin America, a region facing tremendous challenges but gifted with a technically sophisticated cohort of young people eager to reform their societies. NDI has supported these innovators with in-person trainings, data boot camps, and online training resources focused on the pragmatic intersection between social problems and tech solutions. The Network has helped them refine their ideas for improving their societies and connected them with training resources, corporate sponsors, and the governments that need their ideas and energy. TechCivica is now expanding to the Middle East, with an initiative in Lebanon to connect civic technologists with the national parliament to solve pressing citizen problems in this vibrant, tech-savvy society laboring under tremendous external and internal pressures.</p>

<h2>Online Civic Tech Resource Library</h2>
<p>A wide array of online training resources - often freely shareable - have been created that help interested tech for social good geeks learn. However, these are strewn across the internet, often out of date, and rarely translated into local languages. NDI has created an <a href="https://open.edx.org/" alt="Open Edx" target="_blank">Open edX</a>-based distance learning platform for the TechCivica network on which NDI can  curate, translate, and - when needed - create digital training resources to assist civic tech groups.</p>

<h2>Citizen-Centered Design</h2>
<p>NDI has developed the “IGNITE” methodology for civic innovation projects - an iterative six-step process that blends a user-focused design strategy, guided product development process, and integration with the wider civic tech community to achieve scalable impact and provide partners with skills that extend beyond one particular project. Working within existing program ecosystems to supplement and strengthen ongoing initiatives makes for a more valuable and sustainable marginal investment than attempting to do tech stand-alone programming.</p>
<p>IGNITE Methodology for Civic Innovation</p>
<ol>
<li>Identify issue/partners: Selection of partner group or individuals and problem identification</li>
<li>Gather Stakeholders: a focused deep dive discussion and brainstorming session with a diverse group of stakeholders who have strategic interest in the issue, representing government, civil society, business, media, academia, etc. </li>
<li>desigN Sprint: A rapid, five-step process that incorporates stakeholder participation and validation to develop a user-tested prototype over several intense days.</li>
<li>Implement: NDI works closely with project partner(s) over a period of months to guide a product or tool from prototype to development. Support over this time might include financial or technical resources, skills trainings, and regular check-in meetings (virtual or in-person)</li>
<li>Test the solution: final user testing of the product and process and public launch</li>
<li>Engage with the network: connect with the TechCivica community to gain peer feedback, share code and resources, and promote collaboration in the civic tech space.   </li>
</ol>

<h2>Network Activities</h2>
<p>The TechCivica Network serves the needs of member organizations by bringing together their collective knowledge and experience to solve collective problems. The network can:</p>
<ul>
  <li>Provide the collaboration platforms for communications – Slack, email lists, WhatsApp groups, GitHub repositories – to permit groups to effectively work together</li>
<li>Curate, translate and - when needed - create digital training resources to assist civic tech groups</li>
<li>Connect emerging groups, based on their past experiences with common problems,  with more sophisticated civic tech organizations to provide south-south peer mentorship </li>
<li>Provide opportunities for major technology firms and other sponsors to easily share in-kind resources, support, mentoring, and volunteer opportunities to trusted and effective civic tech groups</li>
<li>Connect techies with democratic institutions in-country that need their skills and passion</li>
<li>Share best practices in citizen-centered design and how it impacts planning and building civic tech</li>
<li>Host in-person conferences and design sprints bringing together government and political leaders, civic technologists, and other stakeholders to grapple with societal challenges</li>
<li>Provide a virtual civic tech accelerator for promising ideas from network members providing support, mentorship, training, and connections to take their ideas from prototype to product</li>
</ul>

<h2>About NDI</h2>
<p>The National Democratic Institute (NDI) is a nonprofit, nonpartisan, nongovernmental organization working to support and strengthen democratic institutions worldwide through citizen participation, openness and accountability in government. With offices in 55 countries, as well as remote programs in many others, NDI has broad and deep relationships of trust and confidence with political actors around the globe. NDI has maintained a continuous presence in Silicon Valley since 2013, has been a leader in the civic tech and open government movements, and has extensive experience protecting partners against cybersecurity threats. </p>
    

  </div>

        </section>
</main>
