<%page expression_filter="h"/>
<%! from django.utils.translation import ugettext as _ %>
<%inherit file="../main.html" />

<%block name="pagetitle">${_("About")}</%block>

<main id="main" aria-label="Content" tabindex="-1">
    <section class="container about">
    <h1 class="title" id="page-title">Acerca de</h1>                    <div class="tabs"></div>                      <div class="region region-content">
    <div id="block-system-main" class="block block-system">

    
  <div class="content">
    <div id="node-12" class="node node-page clearfix" about="/acerca-de" typeof="foaf:Document">

  
      <span property="dc:title" content="Acerca de" class="rdf-meta element-hidden"></span><span property="sioc:num_replies" content="0" datatype="xsd:integer" class="rdf-meta element-hidden"></span>
  
  <div class="content">
    <div class="field field-name-field-image field-type-image field-label-hidden"><div class="field-items"><div class="field-item even"><picture >
<!--[if IE 9]><video style="display: none;"><![endif]-->
<source data-srcset="https://www.redinnovacion.org/sites/default/files/styles/full_width_wide/public/page_web.jpg?itok=B3IT2GKU&amp;timestamp=1467919991 1x" media="only screen and (min-width: 1200px)" />
<source data-srcset="https://www.redinnovacion.org/sites/default/files/styles/full_width_desktop/public/page_web.jpg?itok=XbnWi3uD&amp;timestamp=1467919991 1x" media="(min-width: 992px)" />
<source data-srcset="https://www.redinnovacion.org/sites/default/files/styles/full_width_tablet/public/page_web.jpg?itok=TxmSG1zh&amp;timestamp=1467919991 1x" media="(min-width: 768px)" />
<source data-srcset="https://www.redinnovacion.org/sites/default/files/styles/full_width_mobile/public/page_web.jpg?itok=oY4zaKd9&amp;timestamp=1467919991 1x" media="(min-width: 480px)" />
<source data-srcset="https://www.redinnovacion.org/sites/default/files/styles/full_width_small/public/page_web.jpg?itok=GLH8d6QA&amp;timestamp=1467919991 1x" media="(min-width: 320px)" />
<source data-srcset="https://www.redinnovacion.org/sites/default/files/styles/full_width_extra_small/public/page_web.jpg?itok=6G0jDczv&amp;timestamp=1467919991 1x" media="(min-width: 0px)" />
<!--[if IE 9]></video><![endif]-->
<img  class="lazyload" src="https://www.redinnovacion.org/sites/default/files/styles/full_width_wide/public/page_web.jpg?itok=B3IT2GKU&amp;timestamp=1467919991" alt="Conference" title="" style="max-width: 560px; width: 100%;" />
</picture></div></div></div><div class="field field-name-field-text field-type-text-long field-label-hidden"><div class="field-items"><div class="field-item even"><br><p>Red Innovación permite el intercambio de experiencias políticas y sociales de América Latina y el Caribe. Facilitamos espacios de comunicación y diálogo entre organizaciones de sociedad civil, líderes políticos, sociales y expertos de latinoamérica.</p>
<p><iframe align="middle" frameborder="0" height="315" scrolling="no" src="https://www.youtube.com/embed/U8uKt2fMWS8?rel=0&amp;amp;showinfo=0" style="max-width: 560px; width: 100%;"></iframe></p>
</div></div></div>  </div>

  
  
</div>
  </div>
</div>
  </div>
	</section>
</main>
