.dashboard {
    .main-container {
        .my-courses {
            width: 100%;
            float: none;
            .listing-courses {
	        .course-item {
		    .course-container {
			border: none;
		    }
		}
	    }
	}
    }
    .my-courses {
	@media (min-width: 860px) {
	    width: 75%;
	}
        .listing-courses {
            .course-item {
		list-style: none;
		border-bottom: 4px solid $theme-color-main;
                .course-container {
                    list-style: none;
                }
            }
        }
        .course {
	    .details {
                .wrapper-course-actions {
                        width: auto !important;
                }
                .course-actions .action {
                        height: 35px;
                        padding: 8px !important;
                        color: #5a666e !important;
                }
	    }
	}
    }
}
