## mako
<%page expression_filter="h"/>
<%!
  from django.core.urlresolvers import reverse
  from django.utils.translation import ugettext as _
  from django.conf import settings
  from branding.api import get_footer
%>
<% footer = get_footer(is_secure=is_secure) %>
<%namespace name='static' file='static_content.html'/>

<footer class="theme-footer">
  <!--<div class="theme-footer_holder">
    <div class="theme-footer_section">
      <span class="theme-footer_text">If you have some questions please contact us</span>
      <a class="theme-btn" href="/contact">Contact us</a>
    </div>
  </div>-->
  <div class="theme-footer_holder theme-footer_holder__color">
    <div class="theme-footer_wrapper">
      <div class="theme-footer_col">
        <h2 class="theme-footer_col-header">About NDI</h2>
        <div class="theme-footer_col-holder">
          <a class="theme-footer_col-link" target="_blank" href="https://www.ndi.org/whatwedo">What We Do</a>  
        </div>
        <div class="theme-footer_col-holder">
          <a class="theme-footer_col-link" target="_blank" href="https://www.ndi.org/whoweare">Who We Are</a>
        </div>
      </div>
      <div class="theme-footer_col">
        <h2 class="theme-footer_col-header">Connect</h2>
        <div class="theme-footer_col-holder">
          <a class="theme-footer_col-link" href="mailto:contact@nditech.org">Contact Us</a>
        </div>
	<div class="theme-footer_col-holder">
	  <ul class="social-list">
                <li class="social-list_item"><a class="social-list_link social-list_link__twitter" target="_blank" href="http://www.twitter.com/ndi"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
		<li class="social-list_item"><a class="social-list_link social-list_link__facebook" target="_blank" href="https://www.facebook.com/National.Democratic.Institute"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
                <li class="social-list_item"><a class="social-list_link social-list_link__youtube" target="_blank" href="http://www.youtube.com/user/ndipublicaffairs"><i class="fa fa-youtube-square" aria-hidden="true"></i></a></li>
		<li class="social-list_item"><a class="social-list_link social-list_link__linkedin" target="_blank" href="http://www.linkedin.com/company/national-democratic-institute-ndi"><i class="fa fa-linkedin" aria-hidden="true"></i></a></li>
		<li class="social-list_item"><a class="social-list_link social-list_link__instagram" target="_blank" href="http://www.instagram.com/ndidemocracy"><i class="fa fa-instagram" aria-hidden="true"></i></a></li>
	  </ul>
        </div>
      </div>
    </div>
    <div class="theme-footer_section">
      <div class="theme-footer_copyright">
        © 2017 National Democratic Institute. All Rights Reserved
        <!--<a target="_blank" href="${footer['openedx_link']['url']}">
          <img src="${footer['openedx_link']['image']}" alt="${footer['openedx_link']['title']}" width="auto" height="25px;" />
        </a>-->
      </div>
    </div>
  </div>
</footer>
% if include_dependencies:
  <%static:js group='base_vendor'/>
  <%static:css group='style-vendor'/>
  <%include file="widgets/segment-io.html" />
  <%include file="widgets/segment-io-footer.html" />
% endif
% if footer_css_urls:
  % for url in footer_css_urls:
    <link rel="stylesheet" type="text/css" href="${url}"></link>
  % endfor
% endif
