## mako
<%page expression_filter="h"/>
<%!
  from datetime import date
  from django.urls import reverse
  from django.utils.translation import ugettext as _
  from django.conf import settings
  from lms.djangoapps.branding.api import get_footer
%>
<% footer = get_footer(is_secure=is_secure) %>
<%namespace name='static' file='static_content.html'/>

<footer class="theme-footer">
  <div class="theme-footer_holder">
    <div class="theme-footer_section">
      <span class="theme-footer_text">${_("If you have some questions please contact us")}</span>
      <a class="theme-btn" href="mailto:cursovirtualredinnovacion@gmail.com">${_("Contact Us")}</a>
    </div>
  </div>
  <div class="theme-footer_holder theme-footer_holder__color">
    <div class="theme-footer_wrapper">
      <div class="theme-footer_col">
        <h2 class="theme-footer_col-header">${_("About Red Innovacion")}</h2>
        <div class="theme-footer_col-holder">
          <a class="theme-footer_col-link" target="_blank" href="https://www.redinnovacion.org/">${_("Red Innovacion Website")}</a>  
        </div>
        <div class="theme-footer_col-holder">
          <a class="theme-footer_col-link" target="_blank" href="/about">${_("About Us")}</a>
        </div>
      </div>
      <div class="theme-footer_col">
        <!--Start Comment out Link to Studio..
	<h2 class="theme-footer_col-header">courses</h2>
        <div class="theme-footer_col-holder">
          <a class="theme-footer_col-link" href="https://${settings.CMS_BASE}">Create Course Now</a>
        </div>
	..End Comment out Link to Studio-->
      </div>
      <div class="theme-footer_col">
        <h2 class="theme-footer_col-header">${_("Contact Us")}</h2>
        <div class="theme-footer_col-holder">
          <a class="theme-footer_col-link" href="mailto:cursovirtualredinnovacion@gmail.com">${_("Contact Us")}</a>
        </div>
      </div>
    </div>
    <div class="theme-footer_section">
      <div class="theme-footer_copyright">
        ${_('Copyright {year}. All rights reserved. Powered by: ').format(year=date.today().year)}
        <a target="_blank" href="${footer['openedx_link']['url']}">
          <img src="${footer['openedx_link']['image']}" alt="${footer['openedx_link']['title']}" width="auto" height="25px;" />
        </a>
      </div>
    </div>
  </div>
</footer>
% if include_dependencies:
  <%static:js group='base_vendor'/>
  <%static:css group='style-vendor'/>
  <%include file="widgets/segment-io.html" />
  <%include file="widgets/segment-io-footer.html" />
% endif
% if footer_css_urls:
  % for url in footer_css_urls:
    <link rel="stylesheet" type="text/css" href="${url}"></link>
  % endfor
% endif
