.theme-aside {
    width: 100%;
    text-align: center;
    padding: 10px;
    box-sizing: border-box;
    background: #fff;
    @media (min-width: 860px) {
	margin-top: 40px;
    }
    &_list {
        margin: 0;
        padding: 0;
        list-style: none;
    }
}
